*.dylib
*.o
*.os
*.pyc
*.so
_build.*
.sconf_temp
.sconsign.dblite
config.log
ups/*.cfgc
doc/doxygen.conf
doc/html/
doc/meas_modelfit.tag
doc/xml/
*Lib.py
*Lib_wrap.cc
version.py
pytest_session.txt
tests/.cache/*
tests/.tests
tests/reference/bvn
bin/measureCcd.py
bin/measureCoadd.py
bin/measureMulti.py
