*.dylib
*.o
*.os
*.pyc
*.so
.sconf_temp
.sconsign.dblite
config.log
doc/htmlDir
ellipseGridTest.fits
examples/eigenSVD.py
examples/eigenSVD_wrap.cc
exponentialModelTest_img.fits
exponentialModelTest_msk.fits
exponentialModelTest_var.fits
psProjection_img.fits
psProjection_msk.fits
python/lsst/meas/multifit/multifitLib.py
python/lsst/meas/multifit/multifitLib_wrap.cc
python/lsst/meas/multifit/version.py
sersicModelTest_img.fits
sersicModelTest_msk.fits
sersicModelTest_var.fits
testRobustCache
tests/.tests
tests/EllipseGridTransform
tests/ExponentialModel
tests/FixedAstrometry
tests/FootprintUtils
tests/LevMarFitter
tests/Matrices
tests/MinuitFitter
tests/Model
tests/ModelEvaluator
tests/ModelProjection
tests/PointSourceModel
tests/RobustSersicCache
tests/SersicCache
tests/SersicModel
tests/SingleLinearParameterFitter
tests/WindowedFootprint
tests/compound_shapelet.boost
tests/evaluation
tests/evaluator
tests/ndarray
tests/ndarray-eigen
tests/ndarray-fft
tests/qp
ups/*.cfgc
